<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<connectionStrings><add name="MarketContext" connectionString="metadata=res://*/Models.MarketContext.csdl|res://*/Models.MarketContext.ssdl|res://*/Models.MarketContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\;initial catalog=ET_Market_Db;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>